style.
  .footer-link {
    font-size: 10px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
  }

  .blocker {
    height: 60px;
    background-color: #ffff;
  }

  .footer-content {
    max-width: 600px;
    margin: auto;
  }

  .footer {
    background-color: #faf9f6;
    border-top: 1px solid #d3d3d3;
    text-align: center;
    height: 60px;
    line-height: 60px;
    max-height: 60px;
    width: 100%;
  }

  @media (min-width: 768px) {
    .footer-link {
      font-size: 16px;
    }
  }

footer.footer
  .container
    span Alex Burley
