extends layout

block content
  h1(class='title')= 'Alex and Becky'
  .div(style="padding: 10px")
  .nav
    .col-md-3
      hr
    .col-md.nav-item
      span
        a(href='#') Home
    .col-md.nav-item
      span
        a(href='#') Wedding
    .col-md.nav-item
      span
        a(href='#') RSVP
    .col-md.nav-item
      span
        a(href='#') Registry
    .col-md.nav-item
      span
        a(href='#') Media
    .col-md-3
      hr