doctype html
html
	head
		title= title
		meta(name='viewport', content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
		link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
		link(rel='manifest' href='/site.webmanifest')
		link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='theme-color' content='#ffffff')
	body
		.container
			if (authorised)
				block content
			else 
				form.form-signin(data-children-count='3' action="/login" method="POST")
					h1.h3.mb-3.font-weight-normal(style="text-align: center; padding-bottom: 10px") Alex & Becky
					h5.h5.mb-3.font-weight-normal(style="text-align: center; padding-bottom: 10px") 23rd July 2022 - Healey Barn
					label.sr-only(for='inputPassword') Password
					input#inputPassword.form-control(type='password' name='password' placeholder='Password' required='')
					.checkbox.mb-3(style='padding: 20px 0px 0px 0px')
						label(data-children-count='1')
						input(type='checkbox' value='remember', name='remember')
						|  Remember me
					button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
	footer.footer
		.container(style="text-align: center")
			span.text-muted © Alex Burley 2021



