style.
  .home-itinerary {
    max-width: 60%;
    margin: 30px auto;
  }

  .home-itinerary-address p {
    font-weight: 500;
    margin: 0;
  }

  .home-itinerary .home-address-title {
    font-size: 42px;
    letter-spacing: 0.03em;
    line-height: 110%;
    padding-bottom: 10px;
  }

  .home-itinerary-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }

  .home-itinerary-slot {
    display: flex;
    text-align: left;
    flex-grow: 1;
    gap: 50px;
    margin: 10px 0;
    line-height: 125%;
  }
.container
  //-       src="https://images.squarespace-cdn.com/content/v1/5936ca4aa5790a4e6845045a/1544725075699-1QJ8HP9LQFV5EBDD0XXE/healey-barn-views.jpg?format=2500w"
  //-       src="https://images.squarespace-cdn.com/content/v1/5936ca4aa5790a4e6845045a/1565010085848-XK78ADBGK232FAKRIPYR/_A7R7912-Edit-Edit+Richard+Kenworthy+Jan+2019+%286%29healey%2Bbarn%2Bnorthumberland%2Bwedding%2Bvenue.jpg?format=2500w"
  .content-card.home-itinerary 
    p We have invited you to join us in celebration of our Wedding at Healey Barn
    h4 Order of the day
    .home-itinerary-wrapper
      each event in itinerary
        .home-itinerary-slot
          span #{event.slot}
          span #{event.label}
    hr
    .home-itinerary-address
      p.home-address-title Healey Barn
      p Healey
      p Riding Mill
      p Northumberland
      p NE44 6BN
  .content-card
