style.
  .home {
    background-color: #ffff;
  }

  .venue-container {
  }

  .venue-container img {
    max-width: 100vw;
  }

  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

.home
  .container.main
    .venue-container.full-width
      a(href="https://crippsandco.com/healey-barn", target="_blank")
        img(
          src="https://images.squarespace-cdn.com/content/v1/5936ca4aa5790a4e6845045a/1544725075699-1QJ8HP9LQFV5EBDD0XXE/healey-barn-views.jpg?format=2500w"
        )
    .section-container
      .col-md-12.card
    .venue-container.full-width
      a(href="https://crippsandco.com/healey-barn", target="_blank")
        img(
          src="https://images.squarespace-cdn.com/content/v1/5936ca4aa5790a4e6845045a/1565010085848-XK78ADBGK232FAKRIPYR/_A7R7912-Edit-Edit+Richard+Kenworthy+Jan+2019+%286%29healey%2Bbarn%2Bnorthumberland%2Bwedding%2Bvenue.jpg?format=2500w"
        )
    .section-container
