style.
  .photos-container {
    padding-bottom: 20px;
    padding-top: 20px;
  }
.main
  .container.photos-container
    h2 Disposable Cameras
    hr

    h2 Official Photographer
    hr
    h2 Crowdsourced Photos
