style.
  .photos-container {
    padding-bottom: 20px;
    padding-top: 20px;
  }
.main
  .container.photos-container
    h2 Disposable Cameras
    .images-section
      .iframe-container
        iframe.responsive-iframe(
          src="https://albumizr.com/a/lRk-",
          scrolling="no",
          allowfullscreen
        )
      b 
        | 👆 Press the bottom left icon to go full screen.
        | The dark photos are the ones that didn't have a flash turned on.
    hr

    h2 Official Photographer
    hr
    h2 Crowdsourced Photos
