style.
  .photos-container {
    padding-bottom: 20px;
    padding-top: 20px;
  }
.main
  .container.photos-container
    h2 Disposable Cameras
    .images-section
      .iframe-container
        iframe.responsive-iframe(
          src="https://albumizr.com/a/lRk-",
          scrolling="no",
          allowfullscreen
        )
      b 
        | 👆 Press the bottom left icon to go full screen.
        | The dark photos are the ones that didn't have a flash turned on.
    hr

    h2 Official Photographer
    b We expect wedding photos to be available late September
    hr
    h2 Crowdsourced Photos
    b 
      | If you have any photos you took on your phone please add them to:
      br
      a(href="https://photos.app.goo.gl/cZKEmQVTnqqXQrwZ7") https://photos.app.goo.gl/cZKEmQVTnqqXQrwZ7
