style.
  .help-text-container {
    text-align: center;
    padding-top: 20px;
    font-weight: 0.5;
    font-size: 1.2rem;
  }
  .rsvp-container {
    padding-bottom: 20px;
  }
  .no-padding {
    padding: 0px;
  }
.main
  .container.rsvp-container
    .help-text-container
      p Our RSVP form should appear below. If it does not load or you have any issues please contact:
      p
        b
          a(href="mailto:alexburley3@gmail.com") alexburley3@gmail.com
    .content-card.no-padding
      script(
        type="text/javascript",
        src="https://form.jotform.com/jsform/211176227335047"
      )
