style.
  .accomodation-intro {
    font-size: 1.3rem;
    margin: auto;
  }

.container.section-container
  .card
    h2 Accomodation
    br
    .col-md-8.accomodation-intro
      span We have listed some hotels for your conveniance, more hotels can be found closer to Newcastle which might offer flexilibity at the cost of a longer journey.
      |
      | You can find the hotels listed and more accomodation options on the
      |
      a(
        href="https://crippsandco.com/healey-barn/accommodation",
        style="font-weight: bold"
      ) Healey Barn website
      | .
    br
    br
    .row
      .col
        span Slaley Hall Hotel (7 miles)
        p 
          a(href="https://www.slaleyhallhotel.com", target="_blank") https://www.slaleyhallhotel.com
        br
      .col
        span Beaumont Hotel (7 miles)
        p 
          a(href="https://www.thebeaumonthexham.co.uk", target="_blank") https://www.thebeaumonthexham.co.uk
        br
    .row
      .col
        span Derwent Manor Hotel (8 miles)
        p 
          a(href="https://www.bw-derwentmanorhotel.co.uk/", target="_blank") https://www.bw-derwentmanorhotel.co.uk/
        br
      .col
        span The Angel Inn (8 miles)
        p 
          a(href="https://www.theangelofcorbridge.com", target="_blank") https://www.theangelofcorbridge.com
        br
    .row
      .col
        span The Anchor Inn (5 miles)
        p 
          a(href="https://www.theanchorinnwhittonstall.co.uk", target="_blank") https://www.theanchorinnwhittonstall.co.uk
        br
      .col
        span The Duke of Wellington Inn (5 miles)
        p 
          a(href="https://www.thedukeofwellingtoninn.co.uk", target="_blank") https://www.thedukeofwellingtoninn.co.uk
        br
    .row
      .col
        span Lord Crewe Arms Hotel (10 miles)
        p 
          a(href="https://www.lordcrewearmsblanchland.co.uk", target="_blank") https://lordcrewearmsblanchland.co.uk
        br
      .col
        span The George Hotel (15 miles)
        p 
          a(href="https://bespokehotels.com/the-george-hotel", target="_blank") https://bespokehotels.com/the-george-hotel
