body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.wspace {
  padding: 10px 0px 10px 0px;
}

.nav span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.nav-item {
  vertical-align: middle;
  text-align: center;
}

p .nav-item {
  vertical-align: middle;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}

.image-container {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
