extends layout

block content
  h1.title Alex and Becky
  .nav
    .col.nav-item
      hr
    .col-md.nav-item
      span
        a(href='#') Home
    .col-md.nav-item
      span
        a(href='#') Wedding
    .col-md.nav-item
      span
        a(href='#') RSVP
    .col-md.nav-item
      span
        a(href='#') Registry
    .col-md.nav-item
      span
        a(href='#') Media
    .col-md.nav-item
      span
        form(method='post', action='/logout', class="inline")
          button(type='submit', name='submit', value='submit', class='link-button') Logout
    .col.nav-item
      hr
  .main
    h4(style="text-align: center; padding-top: 30px") Coming Soon
    .image-container
      img(src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/healey.jpg", alt="Healey Barn").img-fluid
    