.blocker
  footer.footer
    .container
      span.text-muted.footer-link
        a(href="/#invite") Invite
      span.text-muted.footer-link
        a(href="/#venue") Venue
      span.text-muted.footer-link 
        a(href="/#accomodation") Accomodation
      span.text-muted.footer-link 
        a(href="/#taxis") Taxis
      span.text-muted.footer-link
        a(href="/#contact") Contact Us
