.blocker
  footer.footer
    .container
      .row.footer-content 
        .col.text-muted.footer-link
          a(href="/#invite") Invite
        .col.text-muted.footer-link
          a(href="/#venue") Venue
        .col.text-muted.footer-link 
          a(href="/#accomodation") Accomodation
        .col.text-muted.footer-link 
          a(href="/#taxis") Taxis
        .col.text-muted.footer-link
          a(href="/#contact") Contact Us
