include nav.pug
.main
  .col-md-6.home-invite
    h4 You are invited to our wedding on July 23rd, 2022
    h5 at
    h4 Healey Barn
    .home-invite-address
      p 
        | Healey
        br
        | Riding Mill
        br
        | Northumberland
        br 
        | NE44 6BN
        br
        | 01434 400 044 / 01434 682 569
    .home-invite-time
      p Ceremony 2:00PM
      p Reception 7:30PM

  //- .image-container
  //-   img(src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/healey.jpg", alt="Healey Barn").img-fluid
