.col-md-6.home-invite.home-text-general
  h4 You are invited to our wedding on July 23rd, 2022
  h5 at
  h4 Healey Barn
  .home-invite-address
    p 
      | Healey
      br
      | Riding Mill
      br
      | Northumberland
      br 
      | NE44 6BN
      br
      | 01434 400 044 / 01434 682 569
  .home-invite-time
    p Ceremony 2:00PM
    p Reception 7:30PM
