.banner.row
  .col.banner-img-container.d-none.d-md-block
    img.banner-img(
      src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/flowers-left.png"
    ) 
  .col.banner-title 
    h1.title Becky & Alex
  .col.banner-img-container.d-none.d-md-block
    img.banner-img(
      src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/flowers-right.png"
    ) 
.header
  .navbar 
    .nav
      .col-md.nav-item
        span
          a(href="/") Home
      //- .col-md.nav-item
      //-   span
      //-     a(href="#") Media
      .col-md.nav-item
        span
          a(href="/rsvp") RSVP
      .col-md.nav-item
        span
          form.inline(method="post", action="/logout")
            button.link-button(type="submit", name="submit", value="submit") Logout
