h1.title Becky & Alex
.nav-bar
  .nav
    .col-md.nav-item
      span
        a(href="#") Home
    .col-md.nav-item
      span
        a(href="#") Wedding
    .col-md.nav-item
      span
        a(href="#") RSVP
    .col-md.nav-item
      span
        a(href="#") Registry
    .col-md.nav-item
      span
        a(href="#") Media
    .col-md.nav-item
      span
        form.inline(method="post", action="/logout")
          button.link-button(type="submit", name="submit", value="submit") Logout
  hr
