.banner.row
  .col.banner-img-container.d-none.d-md-block
    img.banner-img(
      src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/flowers-left.png"
    ) 
  .col.banner-title 
    h1.title Rebecca & Alex
    h3 Healey Barn | July 23rd 2022
  .col.banner-img-container.d-none.d-md-block
    img.banner-img(
      src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/flowers-right.png"
    ) 
.header
  .navbar 
    .nav
      .row
        .col
          a(href="/") Home
        .col
          a(href="/registry") Registry
        .col
          a(href="/rsvp") RSVP
        .col
          form.inline(method="post", action="/logout")
            button.link-button(type="submit", name="submit", value="submit") Logout
