style.
  .rsvp-container {
    text-align: center;
    padding-top: 20px;
  }
  .help-text-container {
    font-weight: 0.5;
    font-size: 1.2rem;
  }
.container.rsvp-container
  .help-text-container
    p.help-text Our RSVP form should appear below. If it does not load or you have any issues please contact:
    p
      b
        a(href="mailto:alexburley3@gmail.com") alexburley3@gmail.com
  script(
    type="text/javascript",
    src="https://form.jotform.com/jsform/211176227335047"
  )
