style.
  .footer-link {
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
  }

  .blocker {
    height: 60px;
  }

  .footer {
    background-color: #f5f5f5;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
