style.
  .screen {
    height: 70vh;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
  }

  .home-invite {
    text-align: center;
    padding: 50px;
    margin: auto;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .home-invite:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .home-invite-address {
    font-style: oblique;
  }

  .home-invite-time {
    font-size: 20px;
    font-weight: bold;
  }

  .venue-screen {
    margin: auto;
  }

  .venue-screen img {
    width: 100%;
    border: 1px solid grey;
  }

  .accomodation-description {
    font-size: 16px;
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
  }

  .accomodation-list {
    font-size: 1rem;
  }

  .taxis-intro {
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
  }
