style.
  .main {
    padding: 50px;
  }

  .home-invite {
    background-color: #cfffd9;
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .home-invite-address {
    font-style: oblique;
  }
