style.
  .screen {
    height: 100vh;
    padding-top: 60px;
  }

  .home-invite {
    text-align: center;
    padding: 50px;
    margin: auto;
    min-width: 200px;
  }

  .home-invite-address {
    font-style: oblique;
  }

  .home-invite-time {
    font-size: 20px;
    font-weight: bold;
  }

  .invite-screen {
    padding-top: 50px;
  }
