style.
  a {
    color: black;
  }

  body {
    padding-top: 50px;
    font: 14px 'Cormorant', 'Lucida Grande', Helvetica, Arial, sans-serif;
  }

  .blocker {
    height: 60px;
  }

  .footer {
    background-color: #f5f5f5;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
