style.
  .banner {
    padding-top: 25px;
    background-color: #ffffff;
    text-align: center;
  }

  .banner-title {
    display: inline-block;
    margin: auto;
  }

  .banner-img-container {
    //- padding: 0px 80px 0px 80px;
    display: inline-block;
  }

  .banner-img {
    max-width: 250px;
    display: inline-block;
  }

  .banner h1 {
    margin: 0;
    text-align: center;
    display: inline-block;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
  }

  .nav {
    margin: auto;
    padding-bottom: 5px;
  }

  .nav span {
    display: inline-block;
    vertical-align: middle;
  }

  .nav-item {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .title {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    padding-bottom: 25px;
  }

  .link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
  }
