style.
  a {
    color: black;
  }

  body {
    font: 14px 'Cormorant', 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
  }

  .main {
    padding: 50px;
    height: 100%;
  }
