style.
  a {
    color: black;
  }

  body {
    font: 14px 'Cormorant', 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #faf9f6;
    line-height: 150%;
  }

  .main {
    background-color: #ffff;
    padding-top: 0px;
  }

  .section-container {
    padding: 50px 0px;
  }

  .no-padding {
    padding: 0px;
  }

  .card {
    text-align: center;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
